.search-form {
  display: flex;
  margin-top: 20px;
  margin-left: 10px;

  & > input {
    padding: 2px;
    width: 200px;
    border: 1px solid rgb(189, 189, 189);
  }

  & > button {
    display: block;

    padding: 5px;

    border: none;
    background-color: rgb(238, 238, 238);

    &:active {
      background-color: rgb(214, 214, 214);
    }
  }
}
